.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Visina cijelog ekrana */
  }
  
  .message {
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  