.single_blog_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.single_blog_container {

  padding: 10px 50px;
  max-width: 1366px;
}

.title_container {
  padding: 5px 0;
}

.title {
  color: #439e77;
}

.date_container {


  padding: 10px 0;
}
.edit_icon svg {
  width: 30px;
  height: 30px;
}

.edit_icon {
  color: #439e77;
  cursor: pointer;
  padding: 0 5px;
  width: 30px;
}

.delete_icon {
  color: black;
  width: 30px;
}

.image_container {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.img {
  max-width: 100%;
  border-radius: 5px;
}

.description_container {
  padding: 10px 0;
}

.text_container {
  padding: 15px 0;
}

.blog_not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  gap: 20px;
}

.blog_not_found_container h1 {
  color: #439e77;
}

.go_back_to_blog_btn {
  text-decoration: none;
  background-color: #6db494;
  border: 2px solid #6db494;
  color: white;
  transition: background-color 0.3s;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

.go_back_to_blog_btn:hover {
  background-color: transparent;
  color: #6db494;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px; 
  }
}